.Main {
  text-align: center;
}

.Header_main {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  line-height: 300%; /*줄간격*/
}

.Header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  line-height: 300%;
}

.formbox {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
.message {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 24px;
  letter-spacing: -1px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.success {
  color: #8f8c8b;
}

.error {
  color: #ff2727;
}

.Body_main {
  /* min-height: 10vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 400%;
}

.Main_Button {
  border-radius: 8px;
  font-size: 1.2rem;
  border: none;
  color: #2392eb;
  background-color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;
}

.Main_Button:hover {
  background-color: #90caf9;
  color: white;
}

.input_box_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
}

.input_box {
  display: flex;
  /* height: auto; */
  /* margin-bottom: 20px; */
  margin-block: 20px;
}
